<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B290WQ19E5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-B290WQ19E5');
    </script>
  </head>

  <body>
    {% include header.html %}

    <main class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>